body{
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: solid 3px #000;
    border-radius: 10px;
    width: 300px;
}

.btn-gerar{
    margin-top: 15px;
    width: 100px;
    background-color: #fff;
    cursor: pointer;
}

.mostrar{
    display: block;
    margin-top: 10px;
}

.esconder{
    display: none;
}

.info {
    padding: 10px;
}

.res-panel {
    margin: 10px;
    background-color: #404040;
    border-radius: 12px;
    width: max-content;
    height: max-content;
}

.res {
    color: #fff;
    margin: 10px;
}

.conv-btn {
background-color: #fff;
}